<div class="container">
<!--  <div class="row">
    <div class="col">
      <h1>Site de réservation du domaine d'Anjou</h1>
    </div>
  </div>
-->
    <div class="image">
      <!-- <img src="assets/images/tennis_vert.jpg" class="responsive"/> -->

    </div>
    <div class="welcome">
      <h1>Bienvenue sur le site du tennis de domaine d'Anjou.</h1>
      <br><br>
      Vous pouvez via ce site, réserver vos heures de tennis sur le terrain du domaine d'Anjou en cliquant sur l'onglet "Occupation du terrain". 
      <br><br>Veuillez noter que cette section nécessite d'être authentifié sur le site.<br>
      Pour obtenir un compte sur ce site vous permettant de vous authentifier, veuillez cliquer sur le bouton "Enregistrement" en haut à droite de l'écran.
      Vous devrez alors remplir un petit formaulaire avec quelques données. Après validation de votre demande, vous recevrez alors un mail de confirmation sur votre adresse mail et finalement un mail contenant votre nom d'utilisateur et un mot de passe initial (que vous pourrez changer par la suite).
      <br><br>
      L'onglet "membres" vous permettra également de consulter la liste des membres, et si vous le souhaitez, modifier vos données personnelles et votre mot de passe.
      <br><br>
      Bon amusement !!
    </div>
</div>
