<div class="box">
  <h2>Login</h2>
  <form name="form" #f="ngForm" novalidate>
    <div class="p-field">
      <label for="username">Nom d'utilisateur</label>
      <input
        id="username"
        name="username"
        type="username"
        aria-describedby="username2-help"
        [ngClass]="{
          'p-invalid': username.invalid && (username.dirty || username.touched)
        }"
        pInputText
        [(ngModel)]="model.username"
        #username="ngModel"
        required
      />
      <small *ngIf="username.invalid && (username.dirty || username.touched)" class="p-error">
        Le nom d'utilisateur est requis
      </small>
    </div>
    <div class="p-field">
      <label for="username">Mot de passe</label>
      <input
        id="password"
        name="password"
        type="password"
        aria-describedby="password-help"
        [ngClass]="{
          'p-invalid': password.invalid && (password.dirty || password.touched)
        }"
        pInputText
        [(ngModel)]="model.password"
        #password="ngModel"
        required
      />
      <small *ngIf="password.invalid && (password.dirty || password.touched)" class="p-error">
        Le mot de pass est requis</small
      >
    </div>
    <div class="centerButton" (keydown.enter)="login()">
      <button [disabled]="!f.form.valid" pButton type="submit" (click)="login()">
        <div>Connection</div>
      </button>
      <!--            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
-->
    </div>
  </form>
  <br />
  <small>Oublié votre mot de passe?</small>
  <small>
    demandez une
    <a (click)="reset()" class="btn btn-link">ré-initialisation</a>
  </small>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  ></p-confirmDialog>

  <p-toast></p-toast>
</div>
